TEST_SERVER_HOST=5.129.198.85
TEST_SERVER_USER=root

TEST_REFERENCE_DOMAIN=env.sf8.ru
TEST_WILDCARD_SUFFIX=.env.sf8.ru

TEST_GENERIC_DOMAIN=t-generic-260313-01.env.sf8.ru
TEST_LARAVEL_DOMAIN=t-laravel-260313-01.env.sf8.ru
TEST_STATIC_DOMAIN=t-static-260313-01.env.sf8.ru
TEST_ALIAS_DOMAIN=t-alias-260313-01.env.sf8.ru

TEST_MANUAL_DOMAIN=t-manual-260313-01.sf0.ru
TEST_MANUAL_CERT=/root/test-certs/sf0/fullchain.pem
TEST_MANUAL_KEY=/root/test-certs/sf0/privkey.pem
TEST_MANUAL_CHAIN=/root/test-certs/sf0/chain.pem

ALLOW_DESTRUCTIVE_TESTS=yes
AUTO_CLEANUP_TEST_SITES=yes
